<%= form_tag(controller: 'responses', action: 'create') %>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-6">
        <%= label_tag(:first_name, "First Name") %>
        <%= text_field(:user, :first_name, readonly: true, class: 'form-control') %>
      </div>
      <div class="col-lg-6">
        <%= label_tag(:last_name, "Last Name") %>
        <%= text_field(:user, :last_name, readonly: true, class: 'form-control') %>
      </div>
    </div>
  </div>
  <div class="form-group required">
    <%= label_tag(:email, "Email Address") %>
    <p class="help-block">If you get matched, we'll send an email introducing you two.</p>
    <%= text_field(:user, :email, class: 'form-control', required: true) %>
  </div>
    <div class="form-group required">
    <%= label_tag(:country_id, "Country") %>
    <%= select(:user, :country_id, Group.keys(:country), { include_blank: true }, { class: 'form-control', required: true }) %>
  </div>
  <div class="form-group required">
    <%= label_tag(:zip, "Zip Code") %>
    <p class="help-block">Enter your zip code if you want the chance to be matched with someone close to you for a face-to-face conversation.</p>
    <%= text_field(:user, :zip, class: 'form-control', pattern: '\d{5}') %>
  </div>
  <div class="form-group required">
    <%= label_tag(:supported, "In this election, I supported:") %>
    <p class="help-block">Please pick one even if you did not vote.</p>
    <%= select(:user, :supported, User.supporteds.keys.map { |k| [User::SUPPORTED_CANDIDATES[k], k] }.shuffle, { include_blank: true }, { class: 'form-control', required: true }) %>
  </div>
  <div class="form-group required">
    <%= label_tag(:desired, "I would like to speak to:") %>
    <%= select(:user, :desired, User.desireds.keys.map { |k| [User::DESIRED_CANDIDATES[k], k] }.shuffle, { include_blank: true }, { class: 'form-control', required: true }) %>
  </div>
    <div class="form-group">
    <%= label_tag(:event_code, "Signup Code") %>
    <p class="help-block">If you have one.</p>
    <%= text_field(:user, :event_code, class: 'form-control') %>
  </div>
   <div class="form-group">
    <%= submit_tag("Next", class: 'btn btn-default btn-lg btn-block') %>
  </div>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
