<%= form_tag(controller: 'responses', action: 'create') %>
  <div class="form-group required">
    <%= label_tag(:background, "How do you feel about the following issues?") %>
    <p class="help-block">Please pick the option that most closely aligns with your views, whether or not you fully agree.</p>
    <%= text_area(:user, :background, class: 'form-control', required: true) %>
  </div>
  <div class="form-group required">
    <%= label_tag(:background, "A bit about you") %>
    <p class="help-block">What did you want to be when you grew up? How did you come to that idea? Any other comments?</p>
    <%= text_area(:user, :background, class: 'form-control', required: true) %>
  </div>
   <div class="form-group">
    <%= label_tag(:submit, "Click the button below to agree and submit!") %>
    <p class="help-block">Even if I have strong feelings about the election, I will come to the conversation with a learning attitude, not a debating attitude.</p>
    <div class="checkbox">
      <%= label_tag(:submit) do %>
        <%= check_box(:user, :subscribe?) %>
        <p class="text-muted">Subscribe me to the Hi From The Other Side newsletter so I can receive updates on the project.</p>
      <% end %>
    </div>
    <%= submit_tag("I Agree!", class: 'btn btn-default btn-lg btn-block') %>
  </div>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>
